#register-container{
    width: 100vw;
    height: 100vh;
    background-color: #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form {
    background-color: #E3E3E3;

    padding: 60px 70px;


    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.warning{
    color: red;
}

.hide {
    display: none;
}

#register-form h2 {
    padding-bottom: 20px;
}

#register-form .input-div{
    display: flex;
    flex-direction: column;
}

#register-form .input-div input {
    width: 300px;
    height: 20px;

    padding: 20px 0;
    margin: 10px 0;
}

#register-form .submit-button {
    width: 300px;
    padding: 20px 0;

    margin-top: 20px;
    margin-bottom: 5px;
}

.invalid {
    border: 2px solid red;
}