

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-input-container img{
    padding: 0 10px;
}

.image-input-container input{
    width: 330px;
}

.buttons-container {
    padding: 10px;

    width: 350px;
    padding: 0 px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.buttons-container input {
    padding: 0px;

    width: 100px;
}
