.choose-modal-option {
    padding: 15px 15px;
    padding-bottom: 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-modal-option form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workspace-options{
    display: flex;
    flex-direction: column;

    padding: 20px 0;
}

.workspace-options input {
    margin: 15px 0;
    padding: 10px 0;

    width: 350px
}