

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workspace-options{
    display: flex;
    flex-direction: column;

    padding: 20px 0;
}

.workspace-options input {
    padding: 10px 0;

    width: 350px
}