.join-workspace {
    padding: 15px 15px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-workspace input {
    margin: 10px 0;
    padding: 15px 5px;

    width: 350px;
}

.buttons-container {
    padding: 10px;

    width: 350px;
    padding: 0 px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.buttons-container input {
    padding: 0px;

    width: 100px;
    height: 30px;
}