.chat-messages-container {
    display: flex;
    flex-direction: column;

    height:  calc(100% - 105px);
    /* max-height: calc(100% - 65px); */
}

.fill {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 100%;
}
.fill .invisible{
    visibility: hidden;
}

.messages-container {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;

    min-height: 100%;
    max-height: 100%;
    
    overflow-x: scroll;
}

.chat-input {
    height: 45px;
    word-wrap: break-word;
}

.chat-messages-container input {
    width: 80%;
    max-height: 30px;
    word-wrap: break-word;
    padding: 10px;
}